name: build-all-configs
on: [push, pull_request]
jobs:
  build-on-osx-for-osx:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    - uses: asdf-vm/actions/install@v1
    - name: Configure cmake
      run: cmake -S . -B build -DDJINNI_WITH_OBJC=ON -DDJINNI_STATIC_LIB=ON -G Xcode
    - name: Build release
      run: cmake --build build --parallel $(sysctl -n hw.ncpu) --config Release
    - name: Run tests
      working-directory: build/test-suite
      run: ctest -C Release -V
    - name: Install files
      run: cmake --build build --parallel $(sysctl -n hw.ncpu) --config Release --target install -- DESTDIR=check_install_root
    - name: List installed files
      working-directory: build/check_install_root
      run: du -a | tail -r | awk -F ' ' '{print $2}'
    - name: Test if expected files have been installed
      working-directory: build/check_install_root
      run: diff -u ../../test/objc_list.txt <(du -a | tail -r | awk -F ' ' '{print $2}')

  build-on-osx-for-python:
    runs-on: macos-10.15
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - uses: asdf-vm/actions/install@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Configure cmake
      run: cmake -S . -B build -DDJINNI_WITH_PYTHON=ON -DDJINNI_STATIC_LIB=ON
    - name: Build release
      run: cmake --build build --parallel $(sysctl -n hw.ncpu) --config Release
    - name: Run tests
      working-directory: build/test-suite
      run: ctest -C Release -V

  build-on-ubuntu-for-jni:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: asdf-vm/actions/install@v1
    - name: Configure cmake
      run: cmake -S . -B build -DDJINNI_WITH_JNI=ON -DDJINNI_STATIC_LIB=ON
    - name: Build release
      run: cmake --build build --parallel $(nproc) --config Release
    - name: Run tests
      working-directory: build/test-suite
      run: ctest -C Release -V
    - name: Install files
      run: cmake --build build --parallel $(nproc) --config Release --target install -- DESTDIR=check_install_root
    - name: List installed files
      working-directory: build/check_install_root
      run: du -a | tac | awk -F ' ' '{print $2}' | sort
    - name: Test if expected files have been installed
      working-directory: build/check_install_root
      run: diff -u ../../test/jni_list.txt <(du -a | tac | awk -F ' ' '{print $2}' | sort)

  build-on-windows-for-cppcli:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: install djinni
      run: |
        $VERSION = 'v' + [regex]::Match((Get-Content .tool-versions), '^djinni (\d+.\d+.\d+)').captures.groups[1].value
        $URL = 'https://github.com/cross-language-cpp/djinni-generator/releases/download/' + $VERSION + '/djinni.bat'
        Invoke-WebRequest -Uri $URL -OutFile djinni.bat
    - name: Configure cmake
      run: cmake -S . -B build -DDJINNI_WITH_CPPCLI=ON -DDJINNI_STATIC_LIB=ON -DCMAKE_INSTALL_PREFIX=build/check_install_root -DDJINNI_EXECUTABLE="$(((Get-Location).Path) -replace "\\","/")/djinni.bat" -G "Visual Studio 16 2019"
    - name: Install nuget dependencies
      working-directory: build/test-suite
      run: dotnet restore DjinniCppCliTest.csproj --runtime win-x64
    - name: Build release
      run: cmake --build build --config Release
    - name: Run tests
      working-directory: build/test-suite
      run: dotnet test Release/DjinniCppCliTest.dll
    - name: Install files
      run: cmake --build build --config Release --target install
    - name: List installed files
      working-directory: build/check_install_root
      run: Resolve-Path -Path (Get-ChildItem -Recurse).FullName -Relative
    - name: Test if expected files have been installed
      working-directory: build/check_install_root
      run: if((Compare-Object (Get-Content ..\..\test\cppcli_list.txt) (Resolve-Path -Path (Get-ChildItem -Recurse).FullName -Relative))) { Write-Error "file list not equal" }

